@section Title
    {
    Forget Password
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Forgot Password</h1>
                <div class="line"></div>
                <span>
           
                </span>
                <div class="pages">
                    <ul>
                        <li>
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li><i class="fa fa-dot-circle-o"></i></li>
                        <li>
                            <a style="color: #f4c23d;" asp-action="login" asp-controller="account">Forgot</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <section class="login-area" style="height:400px;    padding:50px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="display: flex;justify-content: center;">
                    <div class="login-container" style="height:max-content">
                        <div class="login-text">
                            <h2>Forgot Password</h2>
                            <span>Please forgot password using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form method="post">
                                <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
                                <input name="mail" type="email" required placeholder="Email" />
                                <div class="button-box">
                                    <button type="submit" class="default-btn">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
}
