@mixin buttons($backgroundColor) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: $backgroundColor;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: $white;
  transition: 0.3s;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
  @media screen and (max-width: 690px) {
    width: 315px;
  }
}
@mixin bodyText() {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: $white;
  text-transform: capitalize;
}
@mixin baseBody() {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: $white;
}
@mixin bodyTextSpace() {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $white;
}
@mixin CaptionSpace() {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}
