@model TextWhyPostDto
<div class="container">
	<form method="post" enctype="multipart/form-data">
		<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
	<div class="form-group">
			<label asp-for="Title">Title:</label>
			<input type="text" class="form-control" asp-for="Title" />
			<span asp-validation-for="Title" class="text text-danger"></span>
	</div>
		<div class="form-group">
			<label asp-for="Text">Text:</label>
			<input type="text" class="form-control" asp-for="Text" />
			<span asp-validation-for="Text" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Icon">Icon:</label>
			<input type="text" class="form-control" asp-for="Icon" />
			<span asp-validation-for="Icon" class="text text-danger"></span>
		</div>
			@Html.AntiForgeryToken()
		<button type="submit" style="width:100%; " class="btn btn-outline-dark">Create</button>
	</form>
</div>