@import "./base/reset";
@import "./base/typrography";

@import "./utils/colors";
@import "./utils/mixins";
@import "./utils/variables";

@import "./components/headers";

@import "./layout/navbar";
@import "./layout/footer";

@import "./pages/homepage";
@import "./pages/service";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/blog";
@import "./pages/blog-detail";
@import "./pages/shop";
@import "./pages/shop-detail";
@import "./pages/login";
