<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>MERCEDES AMG 6.3</h1>
                <div class="line"></div>
                <span> Lorem ipsum dolor sit amet </span>
                <div class="pages">
                    <ul>
                        <li>
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li><i class="fa fa-dot-circle-o"></i></li>
                        <li>
                            <a style="color: #f4c23d;" asp-action="index" asp-controller="shop">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="car-detail section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-container">
                    <div class="product">
                        <div>
                            <div class="content">
                                <h1>MERCEDES AMG 6.3</h1>
                                <p class="price">
                                    <span>$52,000</span>
                                </p>
                            </div>
                            <div class="images">
                                <figure>
                                    <div class="sliders">
                                        <div class="viewport">
                                            <ul class="slides">
                                                <li>
                                                    <div>
                                                        <a href="">
                                                            <img src="../Images/car.jpg" alt="" />
                                                        </a>
                                                        <img src="../Images/car.jpg" alt="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <a href="">
                                                            <img src="../Images/car1.jpg" alt="" />
                                                        </a>
                                                        <img src="../Images/car1.jpg" alt="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <a href="">
                                                            <img src="../Images/car2.jpeg" alt="" />
                                                        </a>
                                                        <img src="../Images/car2.jpeg" alt="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <a href="">
                                                            <img src="../Images/car3.avif" alt="" />
                                                        </a>
                                                        <img src="../Images/car3.avif" alt="" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <a href="">
                                                            <img src="../Images/car4.jpeg" alt="" />
                                                        </a>
                                                        <img src="../Images/car4.jpeg" alt="" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ol>
                                            <li>
                                                <img src="../Images/car.jpg"
                                                     draggable="false" />
                                            </li>
                                            <li>
                                                <img src="../Images/car1.jpg"
                                                     draggable="false" />
                                            </li>
                                            <li>
                                                <img src="../Images/car2.jpeg"
                                                     draggable="false" />
                                            </li>
                                            <li>
                                                <img src="../Images/car3.avif"
                                                     draggable="false" />
                                            </li>
                                            <li>
                                                <img src="../Images/car4.jpeg"
                                                     draggable="false" />
                                            </li>
                                        </ol>
                                        <ul class="direction-nav">
                                            <li>
                                                <a class="nav-prev"
                                                   onclick="return false;"
                                                   href="#">Previous</a>
                                            </li>
                                            <li>
                                                <a class="nav-next"
                                                   onclick="return false;"
                                                   href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="tabs">
                            <ul>
                                <li>
                                    <a href="#" onclick="return false;">Description</a>
                                </li>
                                <li>
                                    <a href="#" onclick="return false;">Additional information</a>
                                </li>
                                <li>
                                    <a href="#" onclick="return false;">Reviews (0)</a>
                                </li>
                            </ul>
                            <div class="description info">
                                <h2>Description</h2>
                                <section class="kc-row">
                                    <div class="row-container">
                                        <div class="wrap-columns">
                                            <div class="kc-column">
                                                <div>
                                                    <div class="text">
                                                        <p>
                                                            Selvage drinking vinegar roof party
                                                            bitters beard wolf craft beer Blue
                                                            Bottle, literally you probably haven’t
                                                            heard of them. Deep v jean shorts
                                                            Williamsburg synth pork belly actually.
                                                            Organic PBRB viral four loko Bushwick
                                                            pork belly. Selvage fashion axe
                                                            sartorial cliche before they sold out,
                                                            mustache vinyl DIY gastropub
                                                            fingerstache mlkshk. High Life lo-fi
                                                            chillwave meggings.
                                                        </p>
                                                        <p>
                                                            Migas gluten-free ennui Truffaut ugh,
                                                            listicle umami plaid lomo sustainable
                                                            mumblecore street art biodiesel
                                                            readymade. Polaroid ethical Pitchfork,
                                                            sartorial bitters mlkshk cliche keytar
                                                            tofu four loko pork belly High Life lomo
                                                            listicle.
                                                        </p>
                                                        <p>
                                                            Semiotics Vice Wes Anderson Bushwick
                                                            organic. Chambray twee Banksy,
                                                            asymmetrical disrupt bitters selfies
                                                            Helvetica. Gentrify direct trade disrupt
                                                            Odd Future. Bespoke tote bag small
                                                            batch, try-hard drinking vinegar cronut
                                                            beard migas ethical. Seitan wolf Vice
                                                            banh mi YOLO flannel. Banh mi pug cred
                                                            church-key, cardigan drinking vinegar
                                                            hella bicycle rights ugh sustainable.
                                                            Marfa Bushwick aesthetic, locavore
                                                            messenger bag 8-bit tote bag.
                                                        </p>
                                                    </div>
                                                    <div class="kc-row-inner">
                                                        <div class="kc-column-inner">
                                                            <div class="text">
                                                                <h4>Enterainment</h4>
                                                                <ul>
                                                                    <li>Central Locking</li>
                                                                    <li>Automatic Air Conditioning</li>
                                                                    <li>Full Leather Interior</li>
                                                                    <li>Electric Heated Seats</li>
                                                                    <li>Navigation GPS Multimedia</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="kc-column-inner">
                                                            <div class="text">
                                                                <h4>Exterior features</h4>
                                                                <ul>
                                                                    <li>Parking Sensors</li>
                                                                    <li>Double Exhaust</li>
                                                                    <li>Electric Mirrors</li>
                                                                    <li>Manifacturing Year 2015</li>
                                                                    <li>Full Service History</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="kc-column-inner">
                                                            <div class="text">
                                                                <h4>Interior features</h4>
                                                                <ul>
                                                                    <li>ABS</li>
                                                                    <li>Xenon Headlights</li>
                                                                    <li>Immobilizer</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="additional info">
                                <h2>Additional information</h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Car Types</th>
                                            <td><p>Miles, Price, Year</p></td>
                                        </tr>
                                        <tr>
                                            <th>Color</th>
                                            <td><p>Miles, Price, Year</p></td>
                                        </tr>
                                        <tr>
                                            <th>Makes</th>
                                            <td><p>Miles, Price, Year</p></td>
                                        </tr>
                                        <tr>
                                            <th>Car Model</th>
                                            <td><p>Miles, Price, Year</p></td>
                                        </tr>
                                        <tr>
                                            <th>Style</th>
                                            <td><p>Miles, Price, Year</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="reviews info">
                                <div class="comments">
                                    <h2>Reviews</h2>
                                    <p>There are no reviews yet.</p>
                                </div>
                                <div class="review-form">
                                    <div>
                                        <h3>Be the first to review “MERCEDES AMG 6.3”</h3>
                                        <form action="" method="post">
                                            <p>
                                                <span id="email-notes">
                                                    Your email address will not be published.
                                                    Required fields are marked *
                                                </span>
                                            </p>
                                            <p>
                                                <input placeholder="Name"
                                                       type="text"
                                                       size="30"
                                                       aria-required="true" />
                                            </p>
                                            <p>
                                                <label>
                                                    <input placeholder="Email"
                                                           type="email"
                                                           size="30"
                                                           aria-required="true" />
                                                </label>
                                            </p>
                                            <!-- <p>
                                              <label>Your Rating</label>
                                            </p>
                                            <p class="stars">
                                              <span>
                                                <a href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#">3</a>
                                                <a href="#">4</a>
                                                <a href="#">5</a>
                                              </span>
                                            </p> -->
                                            <p>
                                                <textarea placeholder="Your Review"
                                                          cols="45"
                                                          rows="8"
                                                          aria-required="true"></textarea>
                                            </p>
                                            <p>
                                                <button type="submit">Submit</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail">
                    <div class="head">
                        <h4>VEHICLE DETAILS</h4>
                    </div>
                    <div class="infoCar">
                        <ul>
                            <li><span>Time Left:</span><span>0D 0H 0min</span></li>
                            <li><span>Vin:</span>21JDNSODK2</li>
                            <li><span>Make:</span>Mercedes-Benz</li>
                            <li><span>Fabrication Year:</span>2015</li>
                            <li><span>Odometer:</span>134,000km</li>
                            <li><span>Fuel Type:</span>Benzin</li>
                            <li><span>No. of Gears:</span>6</li>
                            <li><span>Transmission:</span>Automatic</li>
                            <li><span>Color:</span>White</li>
                            <li><span>Fuel Economy:</span>12l/City - 10l/hwy</li>
                            <li><span>Motor Capacity:</span>( 179KW / 400BHP )</li>
                            <li>
                                <span>Country of Origin:</span>Germany ( Munich )
                            </li>
                            <li><span>Price:</span>$25,000</li>
                        </ul>
                    </div>
                </div>
                <div class="enquiry">
                    <div class="head">
                        <h4>VEHICLE ENQUIRY</h4>
                    </div>
                    <div class="contact-form">
                        <form action="" method="post">
                            <p>
                                The dealer's details will be emailed to you
                                immediately after you submit your query.
                            </p>
                            <p>
                                <label>
                                    <input type="text"
                                           size="40"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="Your Name" />
                                </label>
                                <label>
                                    <input type="email"
                                           size="40"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="Your Email" />
                                </label>
                                <label>
                                    <input type="text"
                                           size="40"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="Your Phone Number" />
                                </label>
                                <label>
                                    <textarea cols="40"
                                              rows="10"
                                              aria-invalid="false"
                                              placeholder="Message..."></textarea>
                                </label>
                            </p>
                            <div class="button">
                                <button type="submit">Send Message</button>
                                <span></span>
                                <i class="fa fa-paper-plane"></i>
                            </div>
                        </form>
                    </div>
                    <div class="auction">
                        <div class="circle"></div>
                        <div class="bid">
                            <input type="text" disabled value="$3,600" />
                            <div class="buttons">
                                <button>-</button>
                                <button>+</button>
                            </div>
                            <button id="bidButton" type="submit">Bid</button>
                            <audio id="audio" src="../Audio/click.wav"></audio>
                            <audio id="audioWin" src="../Audio/win.mp3"></audio>
                        </div>
                    </div>
                    <div class="subhead">
                        <h4>Contact the Seller</h4>
                        <div class="number">
                            <h6>(+994)70-613-90-13</h6>
                            CAR CODE:
                            <span>55637</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="feature-listing section">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="feature-column col-sm-12">
                <div>
                    <div class="header">
                        <h2>Recent Vehicles</h2>
                        <span>
                            Vivamus gravida magna massa in cursus mi vehicula at.
                            Nunc sem quam suscipit
                        </span>
                        <div class="dec">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="line-dec"></div>
                    </div>
                    <div class="cars">
                        <div class="cars-container">
                            <div class="car-card col-md-15 col-sm-6">
                                <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                    <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                         class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                         srcset="
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                              "
                                         sizes="(max-width: 310px) 100vw, 310px" />
                                </a>
                                <div class="content">
                                    <span class="pricee">
                                        <span class="price">$52,000</span>
                                    </span>
                                    <a href="">
                                        <h2>MERCEDES AMG 6.3</h2>
                                    </a>
                                    <div class="line"></div>
                                    <div class="car-info">
                                        Selvage drinking vinegar roof party bitters beard
                                        wolf...
                                    </div>
                                    <div class="car-detail">
                                        <ul>
                                            <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                            <li><i class="fa fa-car"></i>Sport</li>
                                            <li><i class="fas fa-road"></i>13,000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="car-card col-md-15 col-sm-6">
                                <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                    <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                         class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                         srcset="
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                              "
                                         sizes="(max-width: 310px) 100vw, 310px" />
                                </a>
                                <div class="content">
                                    <span class="pricee">
                                        <span class="price">$52,000</span>
                                    </span>
                                    <a href="">
                                        <h2>MERCEDES AMG 6.3</h2>
                                    </a>
                                    <div class="line"></div>
                                    <div class="car-info">
                                        Selvage drinking vinegar roof party bitters beard
                                        wolf...
                                    </div>
                                    <div class="car-detail">
                                        <ul>
                                            <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                            <li><i class="fa fa-car"></i>Sport</li>
                                            <li><i class="fas fa-road"></i>13,000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="car-card col-md-15 col-sm-6">
                                <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                    <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                         class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                         srcset="
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                              "
                                         sizes="(max-width: 310px) 100vw, 310px" />
                                </a>
                                <div class="content">
                                    <span class="pricee">
                                        <span class="price">$52,000</span>
                                    </span>
                                    <a href="">
                                        <h2>MERCEDES AMG 6.3</h2>
                                    </a>
                                    <div class="line"></div>
                                    <div class="car-info">
                                        Selvage drinking vinegar roof party bitters beard
                                        wolf...
                                    </div>
                                    <div class="car-detail">
                                        <ul>
                                            <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                            <li><i class="fa fa-car"></i>Sport</li>
                                            <li><i class="fas fa-road"></i>13,000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="car-card col-md-15 col-sm-6">
                                <a href="http://demo.mypsolution.com/wp13/product/mercedes-amg-6-3-15/">
                                    <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg"
                                         class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                         srcset="
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured.jpg         310w,
                                http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/01-featured-300x203.jpg 300w
                              "
                                         sizes="(max-width: 310px) 100vw, 310px" />
                                </a>
                                <div class="content">
                                    <span class="pricee">
                                        <span class="price">$52,000</span>
                                    </span>
                                    <a href="">
                                        <h2>MERCEDES AMG 6.3</h2>
                                    </a>
                                    <div class="line"></div>
                                    <div class="car-info">
                                        Selvage drinking vinegar roof party bitters beard
                                        wolf...
                                    </div>
                                    <div class="car-detail">
                                        <ul>
                                            <li><i class="fas fa-gas-pump"></i>Diesel</li>
                                            <li><i class="fa fa-car"></i>Sport</li>
                                            <li><i class="fas fa-road"></i>13,000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/JavaScript/shop-detail.js"></script>