.about-text {
  clear: both;
  float: left;
  width: 100%;
  display: flex;
  & > div {
    display: inline-block;
    clear: both;
    @media (max-width: 767px) {
      float: none !important;
    }
    h2 {
      margin-top: 0px;
      font-size: 20px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 700;
    }
    p {
      margin: 0 0 10px;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 22px;
      color: #888888;
      margin-top: 23px;
      &:nth-child(2) {
        margin-top: 0;
      }
      span {
        font-size: 11px;
        color: #888888;
        text-transform: uppercase;
        font-style: normal;
      }
      a {
        font-size: 11px;
        color: #336699;
        text-transform: uppercase;
      }
    }
  }
  .kc-column-inner {
    @media only screen and (min-width: 1000px) and (max-width: 5000px) {
      width: 50% !important;
    }
    .right-about {
      margin-top: 30px;
      @media (max-width: 991px) {
        margin-top: 60px;
      }
      .skillbar {
        position: relative;
        display: block;
        margin-bottom: 50px;
        width: 100%;
        background: #f5fafe;
        height: 10px;
        border-radius: 3px;
        transition: 0.4s linear;
        transition-property: width, background-color;
        .skillbar-title {
          position: absolute;
          top: -30px;
          left: 0;
          h6 {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 15px;
            color: #000;
          }
          span {
            font-size: 11px;
            font-weight: 400;
          }
        }
        .skillbar-bar {
          width: calc(100% - (100% - 68%));
          height: 10px;
          background: #f5fafe;
          border-radius: 10px;
          background: repeating-linear-gradient(
            145deg,
            rgb(81, 119, 157),
            rgb(46, 92, 137) 2px,
            rgb(46, 92, 137) 5px,
            rgb(46, 92, 137) 5px
          );
        }
      }
    }
  }
}
.team-member {
  clear: both;
  float: left;
  width: 100%;
  background-color: #f5fafe;
  @media (max-width: 991px) {
    margin-bottom: -25px;
  }
  .header {
    h2 {
      margin-top: 0px;
      font-size: 20px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 700;
    }
    span {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      color: #888888;
    }
    i {
      margin-top: 15px;
      background-color: #ffffff;
      width: 40px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      display: inline-block;
      border: 2px solid #222222;
      margin-bottom: 75px;
    }
    .line {
      margin-top: -90px;
      margin-bottom: 70px;
      width: 150px;
      height: 2px;
      background-color: #222222;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .team-cards {
    @media (min-width: 768px) and (max-width: 991px) {
      width: calc(100% + 30px) !important;
    }
    .team-member {
      @media (max-width: 991px) {
        margin-bottom: 45px;
      }
      img {
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        height: auto;
      }
      .socials {
        background-color: rgba(250, 250, 250, 0.95);
        position: absolute;
        left: 50%;
        margin-left: -97px;
        width: 194px;
        height: 192px;
        border-radius: 50%;
        top: 14px;
        opacity: 0;
        visibility: hidden;
        .line {
          margin-top: 30%;
          margin-bottom: 5%;
          width: 60px;
          height: 2px;
          background-color: #f4c23d;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 13px;
          line-height: 22px;
          color: #888888;
          margin: 0 0 10px;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: inline-block;
            a {
              margin: 0 8px;
              color: #222222;
            }
          }
        }
      }
      .info {
        h2 {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 25px;
          margin-bottom: 0px;
        }
        span {
          font-family: "Roboto", sans-serif;
          font-size: 11px;
          color: #888888;
          text-transform: uppercase;
        }
      }
    }
  }
}
.user-comment {
  .header {
    h2 {
      margin-top: 0px;
      font-size: 20px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 700;
    }
    span {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      color: #888888;
    }
    i {
      margin-top: 15px;
      background-color: #ffffff;
      width: 40px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      display: inline-block;
      border: 2px solid #222222;
      margin-bottom: 75px;
    }
    .line {
      margin-top: -90px;
      margin-bottom: 70px;
      width: 150px;
      height: 2px;
      background-color: #222222;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .kc-column-inner {
    width: 100% !important;
    .user-carusel {
      opacity: 1;
      display: block;
      position: relative;
      width: 100%;
      .user-carusel-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
        .user-carusel-container {
          width: 4560px;
          left: 0px;
          display: block;
          transition: all 1000ms ease 0s;
          transform: translate3d(0px, 0px, 0px);
          position: relative;
          backface-visibility: hidden;
          display: flex;
          .user-carusel-item {
            width: 1140px;
            float: left;
            transform: translate3d(0, 0, 0);

            div {
              @media (min-width: 767px) {
                margin-left: 6.666666666666664%;
              }
              @media (min-width: 1200px) {
                margin-left: 15.666666666666664%;
                width: 66.66666666666666%;
              }
            }
            p {
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              color: #888888;
              line-height: 22px;
            }
            img {
              margin-top: 30px;
            }
            h2 {
              font-size: 12px;
              color: #336699;
              text-transform: uppercase;
              font-weight: 700;
              margin-bottom: 0px;
            }
            span {
              font-family: "Roboto", sans-serif;
              font-size: 11px;
              color: #888888;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .carusel-controls {
      top: -200px;
      width: 100%;
      text-align: center;
      display: inline-block;
      position: relative;
      height: 0;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      @media (max-width: 992px) {
        top: -150px;
      }
      .bt-back {
        float: left;
        width: 50px;
        height: 50px;
        z-index: 10;
        background: #fff;
        border: 1px solid #336699;
        transform: rotate(45deg);
        left: 0px;
        color: #336699;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          top: 3px;
          left: 3px;
          right: 3px;
          bottom: 3px;
          border: 2px solid #336699;
        }
        .back {
          z-index: 11;
          position: absolute;
          width: 50px;
          height: 50px;
          line-height: 32px;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          color: #336699;
          &::before {
            content: "\f060";
          }
        }
      }
      .bt-next {
        float: right;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 10;
        background: #fff;
        border: 1px solid #336699;
        transform: rotate(45deg);
        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          top: 3px;
          left: 3px;
          right: 3px;
          bottom: 3px;
          border: 2px solid #336699;
        }
        .next {
          z-index: 11;
          position: absolute;
          width: 50px;
          height: 50px;
          line-height: 32px;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
          color: #336699;
        }
      }
    }
  }
}
