<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Services</h1>
                <div class="line"></div>
                <span>
                    Praesent volutpat nisi sed imperdiet facilisis felis turpis
                    fermentum lectus
                </span>
                <div class="pages">
                    <ul>
                        <li>
                            <a href="http://demo.mypsolution.com/wp13/">Home</a>
                        </li>
                        <li><i class="fa fa-dot-circle-o"></i></li>
                        <li>
                            <a href="http://demo.mypsolution.com/wp13/services/">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <section class="why-us section">
        <div class="why-us-container kc-row-container kc-container">
            <div class="why-us-columns kc-wrap-columns">
                <div class="why-us-column col-sm-12">
                    <div class="kc-elm kc_row kc_row_inner">
                        <div class="left-why-us">
                            <div class="heading-left">
                                <h2>Why choose us?</h2>
                                <span>
                                    Vivamus gravida magna massa in cursus mi vehicula
                                    at. Nunc sem quam suscipit
                                </span>
                                <div class="line"></div>
                            </div>
                            <div class="service-left">
                                <div class="col-md-6">
                                    <div class="service-item">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <div class="service-head">
                                            <h2>Results of Drivers</h2>
                                        </div>
                                        <p>
                                            Integer nec posuere metus, at feugiat. Sed
                                            sodales venenat malesuada.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-item">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <div class="service-head">
                                            <h2>Results of Drivers</h2>
                                        </div>
                                        <p>
                                            Integer nec posuere metus, at feugiat. Sed
                                            sodales venenat malesuada.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-item">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <div class="service-head">
                                            <h2>Results of Drivers</h2>
                                        </div>
                                        <p>
                                            Integer nec posuere metus, at feugiat. Sed
                                            sodales venenat malesuada.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-item">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <div class="service-head">
                                            <h2>Results of Drivers</h2>
                                        </div>
                                        <p>
                                            Integer nec posuere metus, at feugiat. Sed
                                            sodales venenat malesuada.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-why-us kc_column_inner">
                            <div class="kc_wrapper kc-col-inner-container">
                                <div class="right-img">
                                    <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/feature-image.jpg"
                                         alt="" />
                                    <div class="img-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="facts section">
        <div class="facts-container">
            <div class="facts-columns">
                <div class="facts-column">
                    <div>
                        <div class="facts-row-inner">
                            <div class="facts-column-inner">
                                <div>
                                    <div class="fact-item">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <div>
                                            <span class="fact-count artim"
                                                  aria-valuenow="25150"></span>
                                        </div>
                                        <span class="fact-mean">Lines of code</span>
                                    </div>
                                </div>
                            </div>
                            <div class="facts-column-inner">
                                <div>
                                    <div class="fact-item">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <div>
                                            <span class="fact-count"
                                                  aria-valuenow="35150"></span>
                                        </div>
                                        <span class="fact-mean">Lines of code</span>
                                    </div>
                                </div>
                            </div>
                            <div class="facts-column-inner">
                                <div>
                                    <div class="fact-item">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <div>
                                            <span class="fact-count"
                                                  aria-valuenow="15150"></span>
                                        </div>
                                        <span class="fact-mean">Lines of code</span>
                                    </div>
                                </div>
                            </div>
                            <div class="facts-column-inner">
                                <div>
                                    <div class="fact-item">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <div>
                                            <span class="fact-count"
                                                  aria-valuenow="30150"></span>
                                        </div>
                                        <span class="fact-mean">Lines of code</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing-tables section">
        <div class="row-container">
            <div class="wrap-columns">
                <div class="kc-column">
                    <div class="kc-col-container">
                        <div class="header text-center">
                            <h2>Pricing Tables</h2>
                            <span>
                                Vivamus gravida magna massa in cursus mi vehicula at.
                                Nunc sem quam suscipit
                            </span>
                            <div>
                                <i class="fa fa-dollar"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="price-cards kc-row-inner">
                            <div class="kc_column_inner">
                                <div>
                                    <div class="pricing-table">
                                        <h2>Basic Plan</h2>
                                        <span><em>$</em>169<em>/mo</em></span>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check"></i>24/7 Online Support
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Unlimited
                                                Subdomains
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>Free Updates
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>No Daily Backup
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Another Featured
                                                Here
                                            </li>
                                        </ul>
                                        <div class="signup-button">
                                            <a href="#">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kc_column_inner">
                                <div>
                                    <div class="pricing-table">
                                        <h2>Basic Plan</h2>
                                        <span><em>$</em>169<em>/mo</em></span>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check"></i>24/7 Online Support
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Unlimited
                                                Subdomains
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>Free Updates
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>No Daily Backup
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Another Featured
                                                Here
                                            </li>
                                        </ul>
                                        <div class="signup-button">
                                            <a href="#">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kc_column_inner">
                                <div>
                                    <div class="pricing-table">
                                        <h2>Basic Plan</h2>
                                        <span><em>$</em>169<em>/mo</em></span>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check"></i>24/7 Online Support
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Unlimited
                                                Subdomains
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>Free Updates
                                            </li>
                                            <li class="close">
                                                <i class="fa fa-close"></i>No Daily Backup
                                            </li>
                                            <li>
                                                <i class="fa fa-check"></i>Another Featured
                                                Here
                                            </li>
                                        </ul>
                                        <div class="signup-button">
                                            <a href="#">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/JavaScript/service.js"></script>