
    <div class="email-body" style="background: #fff">
        <div class="email-container" style="max-width: 500px; margin: 0 auto">
            <div class="header" style="background: #336699; padding: 30px">
                <hgroup style="text-align: center; font-family: verdana">
                    <h1 style="
                font-size: 2em;
                color: #fff;
                font-weight: bold;
                letter-spacing: 0.3em;
                text-transform: uppercase;
              ">
                        Thank You
                    </h1>
                    <h2 style="padding: 10px 0 0 0; font-size: 0.75em; color: #121212">
                        Subscription Successful
                    </h2>
                </hgroup>
            </div>
            <div class="section1"
                 style="
            padding: 20px;
            color: #666;
            font-family: verdana;
            background: #ecf0f1;
          ">
                <h1 style="font-size: 1.2em; color: #121212">New Auction</h1>
                <p style="line-height: 1.5em; padding: 20px 0 0; font-size: 0.75em">
                    Model Brand : {{Model}}
                </p>
                <p style="line-height: 1.5em; padding: 0px 0; font-size: 0.75em">
                    Auction Date : {{Auction}}
                </p>
                <p style="line-height: 1.5em; padding: 0px 0; font-size: 0.75em">
                    Year : {{Year}}
                </p>
                <p style="line-height: 1.5em; padding: 0 0; font-size: 0.75em">
                    Motor : {{Motor}}
                </p>
                <p style="line-height: 1.5em; padding: 0 0; font-size: 0.75em">
                    Started Bid : ${{Price}}
                </p>
                <a href="#">
                    <img src="https://www.startlinemotors.lt/p.php?7-200-2"
                         alt=""
                         style="width: 100%; padding-top: 20px" />
                </a>
                <p style="line-height: 1.5em; padding: 20px 0; font-size: 0.75em">
                    You will recieve links to our exclusive videos, our weekly
                    newsletter keeping you upto date with all that is current and
                    finally access to our vip section for the website.
                </p>

                <h1 style="font-size: 1.2em; color: #121212">About Seller</h1>
                <p style="line-height: 1.5em; padding: 20px 0 0; font-size: 0.75em">
                    Name : {{Owner}}
                </p>
                <p style="line-height: 1.5em; padding: 0px 0; font-size: 0.75em">
                    Email : {{Email}}
                </p>
                <p style="line-height: 1.5em; padding: 0px 0; font-size: 0.75em">
                    Origin : {{Country}}
                </p>
            </div>
            <div class="footer"
                 style="
            padding: 10px;
            text-align: center;
            background: #336699;
            color: #a0aaab;
          ">
                <p>visit site | unsubscribe</p>
            </div>
        </div>
    </div>

