<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <div class="line"></div>
                <span>
                    Praesent volutpat nisi sed imperdiet facilisis felis turpis
                    fermentum lectus
                </span>
                <div class="pages">
                    <ul>
                        <li>
                            <a href="http://demo.mypsolution.com/wp13/">Home</a>
                        </li>
                        <li><i class="fa fa-dot-circle-o"></i></li>
                        <li>
                            <a href="http://demo.mypsolution.com/wp13/services/">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <section class="about-text section">
        <div class="row-container">
            <div class="wrap-columns">
                <div class="kc-column">
                    <div>
                        <div class="kc-row-inner">
                            <div class="kc-column-inner">
                                <div class="left-about">
                                    <div>
                                        <h2>Whfo is the auction?</h2>
                                        <p><span>Irony distillery fashion axe</span></p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Phasellus sed est sed orcit
                                            elit auctor ullamcorper et imperdiet lectus.
                                            Vivamus gravida metus vitae nunc sempe lacinia
                                            est pulvinar. Ut sit amet lacus luctus, iaculis
                                            turpis sit amet.
                                        </p>
                                        <p>
                                            Maecenas eros mi, lacinia eu ultricies vel,
                                            elementum et justo. Ut at tortor a odio vestib
                                            suscipit non sit amet dolor. Morbi molestie
                                            magna nec metus facilisis, at iaculis
                                            adipiscing. Praesent ac diam velit. Curabitur
                                            lacinia tristique velit ut laoreet. Nam pretium
                                            id risuse fermentum. Aenean eu euismod justo.
                                        </p>
                                        <p><a href="#">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="kc-column-inner">
                                <div class="right-about">
                                    <div class="skillbar clearfix">
                                        <div class="skillbar-title">
                                            <h6>Photoshop</h6>
                                            <span>(68%)</span>
                                        </div>
                                        <div class="skillbar-bar"></div>
                                    </div>
                                    <div class="skillbar clearfix">
                                        <div class="skillbar-title">
                                            <h6>Photoshop</h6>
                                            <span>(68%)</span>
                                        </div>
                                        <div class="skillbar-bar"></div>
                                    </div>
                                    <div class="skillbar clearfix">
                                        <div class="skillbar-title">
                                            <h6>Photoshop</h6>
                                            <span>(68%)</span>
                                        </div>
                                        <div class="skillbar-bar"></div>
                                    </div>
                                    <div class="skillbar clearfix">
                                        <div class="skillbar-title">
                                            <h6>Photoshop</h6>
                                            <span>(68%)</span>
                                        </div>
                                        <div class="skillbar-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team-member section">
        <div class="row-container">
            <div class="wrap-columns">
                <div class="kc-column">
                    <div class="kc-col-container">
                        <div class="header text-center">
                            <h2>Meet the team</h2>
                            <span>
                                Vivamus gravida magna massa in cursus mi vehicula at.
                                Nunc sem quam suscipit
                            </span>
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="team-cards kc-row-inner">
                            <div class="kc-column-inner">
                                <div>
                                    <div class="team-member text-center">
                                        <img alt=""
                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/member-1.jpg" />
                                        <div class="socials">
                                            <div class="line"></div>
                                            <p>Donec sit amet eros sit amet quam auctor</p>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="info">
                                            <h2>CASEY ALGARIN</h2>
                                            <span>DESIGNER</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kc-column-inner">
                                <div>
                                    <div class="team-member text-center">
                                        <img alt=""
                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/member-1.jpg" />
                                        <div class="socials">
                                            <div class="line"></div>
                                            <p>Donec sit amet eros sit amet quam auctor</p>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="info">
                                            <h2>CASEY ALGARIN</h2>
                                            <span>DESIGNER</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kc-column-inner">
                                <div>
                                    <div class="team-member text-center">
                                        <img alt=""
                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/member-1.jpg" />
                                        <div class="socials">
                                            <div class="line"></div>
                                            <p>Donec sit amet eros sit amet quam auctor</p>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="info">
                                            <h2>CASEY ALGARIN</h2>
                                            <span>DESIGNER</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kc-column-inner">
                                <div>
                                    <div class="team-member text-center">
                                        <img alt=""
                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/member-1.jpg" />
                                        <div class="socials">
                                            <div class="line"></div>
                                            <p>Donec sit amet eros sit amet quam auctor</p>
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="info">
                                            <h2>CASEY ALGARIN</h2>
                                            <span>DESIGNER</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-comment section">
        <div class="row-container">
            <div class="wrap-columns">
                <div class="kc-column">
                    <div class="kc-col-container">
                        <div class="header text-center">
                            <h2>User Comments</h2>
                            <span>
                                Vivamus gravida magna massa in cursus mi vehicula at.
                                Nunc sem quam suscipit
                            </span>
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="user-cards kc-row-inner">
                            <div class="kc-column-inner">
                                <div>
                                    <div class="user-carusel">
                                        <div class="user-carusel-outer">
                                            <div class="user-carusel-container">
                                                <div class="user-carusel-item">
                                                    <div class="text-center col-md-8">
                                                        <p>
                                                            Readymade aesthetic 8-bit Vice food
                                                            truck. Viral Banksy Echo Park freegan.
                                                            Distillery XOXO try-hard fanny pack
                                                            Godard. Kale chips Apparel. Lumbersexual
                                                            Intelligentsia Neutra mixtape paleo
                                                            fashion axe pug.
                                                        </p>
                                                        <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/testimonial-2.png" />
                                                        <h2>Anica Luvies</h2>
                                                        <span>Founder and ceo of auction cars</span>
                                                    </div>
                                                </div>
                                                <div class="user-carusel-item">
                                                    <div class="text-center col-md-8">
                                                        <p>
                                                            Readymade aesthetic 8-bit Vice food
                                                            truck. Viral Banksy Echo Park freegan.
                                                            Distillery XOXO try-hard fanny pack
                                                            Godard. Kale chips Apparel. Lumbersexual
                                                            Intelligentsia Neutra mixtape paleo
                                                            fashion axe pug.
                                                        </p>
                                                        <img alt=""
                                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/testimonial-1.png" />
                                                        <h2>Anica Luvies</h2>
                                                        <span>Founder and ceo of auction cars</span>
                                                    </div>
                                                </div>
                                                <div class="user-carusel-item">
                                                    <div class="text-center col-md-8">
                                                        <p>
                                                            Readymade aesthetic 8-bit Vice food
                                                            truck. Viral Banksy Echo Park freegan.
                                                            Distillery XOXO try-hard fanny pack
                                                            Godard. Kale chips Apparel. Lumbersexual
                                                            Intelligentsia Neutra mixtape paleo
                                                            fashion axe pug.
                                                        </p>
                                                        <img alt=""
                                                             src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/testimonial-1.png" />
                                                        <h2>Anica Luvies</h2>
                                                        <span>Founder and ceo of auction cars</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carusel-controls">
                                        <div class="bt-back">
                                            <a class="btn back fa fa-arrow-left"></a>
                                        </div>
                                        <div class="bt-next">
                                            <a class="btn next fa fa-arrow-right"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients section">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">
                <div class="client-column col-sm-12">
                    <div>
                        <div class="brands">
                            <div class="carusel-outher">
                                <div class="carusel">
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="carusel-item">
                                        <div class="item">
                                            <img src="http://demo.mypsolution.com/wp13/wp-content/uploads/2016/12/client-1.png"
                                                 alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>